---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const refs = await getCollection('references');
  return refs.map((ref) => ({
    params: { slug: ref.slug },
    props: { ref },
  }));
}

const { ref } = Astro.props;
const { Content } = await ref.render();
const data = ref.data;
---

<main class="prose mx-auto py-8">
  <h1>{data.title}</h1>
  <Content />
</main>